@page
@model MiniBicks.Pages.Conge.CreateModel
@using Entities.Enum;
@{
    ViewData["Title"] = "Create";
}
@{ 
    double CPRestant = (double)ViewData["CPRestant"];
    double RTTRestant = (double)ViewData["RTTRestant"];
    double DecesRestant = (double)ViewData["DecesRestant"];
    double MarriageRestant = (double)ViewData["MarriageRestant"];
    double NaissanceRestant = (double)ViewData["NaissanceRestant"];
    double MaterniteRestant = (double)ViewData["MaterniteRestant"];
    double PaterniteRestant = (double)ViewData["PaterniteRestant"];
}
<h1>Demande de conge</h1>
<p>Jours CP restant : @CPRestant</p>
<p>Jours RTT restant : @RTTRestant</p>
<p>Jours Deces restant : @DecesRestant</p>
<p>Jours Marriage restant : @MarriageRestant</p>
<p>Jours Naissance restant : @NaissanceRestant</p>
<p>Jours Maternite restant : @MaterniteRestant</p>
<p>Jours Paternite restant : @PaterniteRestant</p>

<form method="post">
    <input asp-for="User.ID_User"  type="hidden"/>

    <label asp-for="Conge.TypeCongeEnum"></label>
    <select asp-for="Conge.TypeCongeEnum" asp-items="Html.GetEnumSelectList<TypeCongeEnum>()">
        <option selected="selected" value=""></option>
    </select>
    <br />

    <label asp-for="Conge.DateDebut"></label>
    <input asp-for="Conge.DateDebut" />
    <br />
    <label asp-for="Conge.DateFin"></label>
    <input asp-for="Conge.DateFin" />
    <br />
    <input type="submit" />
</form>
