@page
@model MiniBicks.Pages.User.DetailModel
@{
    ViewData["Title"] = "Detail";
}

    <h1>@Model.User.Nom @Model.User.Prenom</h1>
    <p>@Model.User.RoleEnum</p>
<p>Adresse :</p>
<p>@Model.User.Adresse.NumeroRue @Model.User.Adresse.Rue</p>
<p>@Model.User.Adresse.CodePostal @Model.User.Adresse.Ville</p>
<p>Pays : @Model.User.Adresse.PaysEnum</p>


