@page
@model MiniBicks.Pages.User.DetailModel
@using MiniBicks.Helpers.Enum;
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.User.Nom @Model.User.Prenom</h1>
<p>@Model.User.RoleEnum</p>
<p>Adresse :</p>
<p>@Model.User.Adresse.NumeroRue @Model.User.Adresse.Rue</p>
<p>@Model.User.Adresse.CodePostal @Model.User.Adresse.Ville</p>
<p>Pays : @Model.User.Adresse.PaysEnum</p>
@if (Model.User.Responsable != null)
{
    <p>Responsable : @Model.User.Responsable.Nom @Model.User.Responsable.Prenom</p>
}
@if (Model.User.ListeConge.Count != 0)
{
    <table>
        <thead>
            <tr>
                <th>Date début</th>
                <th>Date Fin</th>
                <th>Type du congé</th>
                <th>Etat de la demande</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (Entities.Conge conge in Model.User.ListeConge)
            {
                <tr>
                    <td>@conge.DateDebut.ToShortDateString()</td>
                    <td>@conge.DateFin.ToShortDateString()</td>
                    <td>@conge.TypeCongeEnum</td>
                    <td>@(new ValidatiEnumHelper().GetFriendlyEnum(conge.ValiditeEnum))</td>
                    <td><a asp-area="" asp-page="/Conge/ValideOrRefuse" asp-route-idConge="@conge.ID_Conge">Manager</a></td>
                </tr>
            }

        </tbody>
    </table>
}
@if (Model.User.ListeFrais.Count != 0)
{
    <table>
        <thead>
            <tr>
                <th>Type de frais</th>
                <th>Montant TTC</th>
                <th>Distance en Km</th>
                <th>Montant TVA</th>
                <th>Total</th>
                <th>Etat de la demande</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (Entities.Frai frais in Model.User.ListeFrais)
            {
                <tr>
                    <td>@(new FraisEnumHelper().GetFriendlyEnum(frais.FraiEnum))</td>
                    <td>@frais.MontantTTC</td>
                    <td>@frais.FraisKilometrique</td>
                    <td>@frais.TVA</td>
                    <td>@frais.TotalFrais</td>
                    <td>@(new ValidatiEnumHelper().GetFriendlyEnum(frais.ValidateEnum))</td>
                    <td><a asp-area="" asp-page="/Frais/ValideOrRefuse " asp-route-idConge="@frais.ID_Frai">Manager</a></td>
                </tr>
            }

        </tbody>
    </table>
}

<a asp-area="" asp-page="/Conge/Create" asp-route-idUser="@Model.User.ID_User">Demander un congé</a>